:root{

    --primary:#0066FF;
    --primary-light:#00A8FF;
    --secondary:#00D4FF;

    --background:#0B0F19;

    --surface:#151B29;
    --surface2:#202A3D;

    --text:#FFFFFF;
    --text-muted:#AAB4C8;

    --radius:18px;

    --transition:.35s;

}
